<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<style>
    body {
        background-color: aliceblue;
    }
    h1{
        text-align: center;
        color: blue;
    }
    .box {
        box-sizing: border-box;
        border: 3px black ;
        background-color: lightskyblue;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        width: 28px;
        height: 28px;

    }

</style>
<body>
    <h1> Welcome</h1>
    <div .box>
</div>
    <div .box></div>
    <div .box></div>

</body>
</html>